*{
    background-image: url(assets/textured_paper.png);
}
*, *:after, *:before {
  
    box-sizing: border-box;
}






/* Ul qui est dans div, nav et dans le headeer a ces propriétés:*/
header > nav > div > ul {
    list-style-type: none;
    width: 60px;
    margin: 0;
    padding: 0;
    height: 60%; 
    position: fixed;
    overflow: scroll;
 
}


/* bar de navigation */
.active {
    background-color: #4CAF50;
    color: bla;
}

li a:hover:not(.active) {
    background-color: #555;
    color: #4CAF50;
}

@media (max-height: 500px){
  .social_media{
    display: none !important;
  }
}
body {
    color: #444;
    line-height: 1.375;
}

/* image de moi :) */
.imgAlex > img{
    width: 150px;
    display: block;
    position: absolute;
  left: 45%;
    border-radius: 50%;
}

/* les headings : */

h1, h2, h3, h4 {
    color: #333;
    line-height: 1.375;
}
h1 {
    font-size: 30px;
    font-weight: 200;
}
h2 {
    font-size: 20px;
    font-weight: 500;
}
h3 {
    font-size: 18px;
    font-weight: 300;
    text-align: center;
}
.center > h2{
    text-align: center;
}

h1, h2, h3, h4 {
    color: rgba(231, 152, 5, 0.945);
    line-height: 1.375;
}

h1 {
    font-size: 30px;
    font-weight: 200;
}
h2 {
    font-size: 20px;
    font-weight: 500;
}
h3 {
    font-size: 18px;
    font-weight: 300;
}
/* paragraphe*/

p {
    font-size: 100%;
    padding-right: 3em;
}
.p>p{
    font-size: 40px;
    color:orange;
    text-align: center;
    display: block;
}
/*lien */
a {
    color: #1abc9c;
    text-decoration: underline;
}

a {
    color: #1abc9c;
    text-decoration: underline;
}
a:hover {
    color: #2ff3cc;
    text-decoration: none;
}


body { margin: 0px }
[class*='col-'] {
    float: left;
    padding-right: 20px;
}
[class*='col-']:last-of-type { padding-right: 0px }
.grid {
    width: 100%;
    max-width: 1140px;
    min-width: 755px;
    margin: 0 auto;
    overflow: scroll;
}
.grid:after {
    content: "";
    display: table;
    clear: both;
}
.grid-pad { padding: 30px 10px 0px 30px }
    .grid-pad > [class*='col-']:last-of-type { padding-right: 20px }
.push-right { float: right }
/* mise en place de la largeur 
.col-1-1 { width: 100% }*/
.col-2-3, .col-8-12 { width: 66.66% }
.col-1-2, .col-6-12 { width: 50% }
.col-1-3, .col-4-12 { width: 33.33% }
.col-1-4, .col-3-12 { width: 25% }
.col-1-5 { width: 20% }
.col-4-5 { width: 80% }
.col-1-6, .col-2-12 { width: 16.667% }
.col-5-6 { width: 83.33% }
.col-1-7 { width: 14.28% }
.col-1-8 { width: 12.5% }
.col-1-9 { width: 11.1% }
.col-1-10 { width: 10% }
.col-1-11 { width: 9.09% }
.col-1-12 { width: 8.33% }

.col-11-12 { width: 91.66% }
.col-10-12 { width: 83.333% }
.col-9-12 { width: 75% }
.col-5-12 { width: 41.66% }
.col-7-12 { width: 58.33% }

/*contact info*/
.contact-info {
    margin-top: 7px;
    text-align: right;
}
.visible-mobile { display: none }
.margin-align-14px { margin-top: 14px }
#footer {
    padding: 1em 0 5em 0;
    font-size: 92%;
    text-align: center;
}
    #footer p {
        margin-bottom: 0;
        text-align: center;
    }
li { border-bottom: 1px solid black }
.last { border-bottom: 0 }
ul {
    margin-left: 0px;
    padding-left: 0px;
}
    ul li {
        list-style: none;
        list-style-type: none;
        margin-left: 0px;
        padding-left: 0px;
        margin-top: 10px;
        padding-bottom: 2px;
    }

.hr {
    border-bottom-color:#DDD ;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    width: 100%;
    height: 1px;
}
.last { border: none }

.skills-list ul { 
    margin: 0;
}
.skills-list li {
  	 margin: 3px 0;
  	 padding: 3px 0;
}
.skills-list li span {
	font-size: 152%;
	display: block;
	margin-bottom: -2px;
	padding: 0;
}
.talent {
    width: 90%;
    float: left;
}
.talent h2 { 
    margin-bottom: 6px;
}

.lorem{
    text-align: center;
}

/*formualire*/
input,textarea{
    width:100%;
    border: 3px solid #DDD;
    resize: vertical;
    border-radius: 4px;
    margin-top: 6px; 
    margin-bottom: 16px; 
}
.content1{
    border:3px solid #1abc9c;
    width:50%;
    height:50%;
    margin: 0 auto;
}


/*icons : */

.logo{
    display: flex;
    align-items: center;
  justify-content: center;
}
/* scroll bar */
body::-webkit-scrollbar {
    width: 12px;               
  }
 
  body::-webkit-scrollbar-thumb {
    background-color: blue;    
    border-radius: 20px;       
  }